{%- comment -%}
Ajout du conteneur de particules autour du contenu existant.
{%- endcomment -%}
<div id="particles-js" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0;"></div>

{%- assign hero = page.hero -%}
{%- if hero -%}
  <div class="page__hero{% if hero.overlay_color or hero.overlay_image %}--overlay{% endif %}"
    style="{% if hero.overlay_color %}background-color: {{ hero.overlay_color | default: 'rgba(0, 0, 0, 0.5)' }};{% endif %} {% if hero.image %}background-image: url('{{ hero.image | relative_url }}');{% endif %}"
  >
    {%- if hero.overlay_filter -%}
      {%- assign overlay_filter = hero.overlay_filter | | | default: "rgba(0, 0, 0, 0.5)" -%}
      <div class="page__hero-overlay" style="background-color: {{ overlay_filter }}"></div>
    {%- endif -%}
    <div class="wrapper" style="position: relative; z-index: 1;">
      <h1 id="page-title" class="page__title" itemprop="headline">
        {%- if hero.title -%}
          {{ hero.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {%- else -%}
          {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {%- endif -%}
      </h1>
      {%- if hero.excerpt -%}
        <p class="page__lead">{{ hero.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {%- endif -%}
      {%- if page.read_time and hero.show_date != false -%}
        <p class="page__meta">
          <i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}
        </p>
      {%- endif -%}
      {%- if hero.actions -%}
        <p>
        {%- for action in hero.actions -%}
          <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">{{ action.label }}</a>
        {%- endfor -%}
        </p>
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{%- comment -%}
Nous devons inclure le fichier de script ici pour nous assurer qu'il est chargé sur les pages qui utilisent le héros.
{%- endcomment -%}
{% include scripts.html %}
