{%- comment -%}
Minimal Mistakes a une façon spécifique de charger les scripts.
C'est le fichier standard pour ajouter des scripts personnalisés.
{%- endcomment -%}

{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    <script src="{{ script | relative_url }}"></script>
  {%- endfor -%}
{%- endif -%}

<!-- tsParticles & app - Début -->
<script src="https://cdn.jsdelivr.net/npm/tsparticles@2/tsparticles.bundle.min.js"></script>
<script src="{{ '/assets/js/particles.js' | relative_url }}"></script>
<!-- tsParticles & app - Fin -->
